bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
publish/
*.pubxml.user
*.pubxml
appsettings.Secrets.json
deployment/logs/
deployment/ftp-creds.json
deployment/rollback-cache/
deployment/database-backups/
.config/dotnet-tools.json.user
App_Data/
artifacts/
